{% extends 'base.html' %}
{% load static %}
{% block title %}
| Injured Trainees
{% endblock %}

{% block content %}
<div class="container my-4">
    <h1>Injured Trainees</h1>
    {% if injureds %}
    <div>
        <hr>
        <h5>Click On Trainee Name To View His Profile</h5>
        <br>
    </div>
    <div class="row">

        {% for injured in injureds %}
        <div class="col-md-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="font-weight-bold"
                        href="{% url 'trainee' injured.id %}">{{injured.name}}</a></li>
                <hr>
            </ul>
        </div>

        {% endfor %}
        {% else %}
        <div class="jumbotron py-2 my-5 mx-auto">
            <h1>No Injured Athletes</h1>
        </div>
        {% endif %}


    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}