{% extends 'base.html' %}
{% load static %}
{% block title %}
| Delete Issue
{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-8">
            <h1>Are you sure to Delete ( {{object.code}} )?</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <form action="./" method="POST">
                {% csrf_token %}
                <input class="btn btn-primary btn-block btn-lg" type="submit" value="yes">
                <a class="btn btn-primary btn-block btn-lg" href="./../">Cancel</a>
            </form>
            <br>
            <br>
            <br>
            <br>

        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}